a
{
	text-decoration: none;
	color: #1240ab;
}

a:hover
{
	text-decoration: underline;
	color: #1240ab;
}

body
{
	background-color: #06266f;
}

content
{
	padding: 5px;
}

footer
{
	margin-top: 10px;
	text-align: right;
	background-color: #ff7400;
	padding: 2px 10px;
}

h1
{ 
	color: #ff7400;
}

.main
{ 
	width: 800px; 
	margin: 5px auto;
	border: 1px solid #eee;
	background-color: #fff;
}

p
{
	margin-bottom: 10px;
	text-align: justify;
	padding: 5px;
}

#table
{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#table span
{
    display: inline-block;
}

.counter
{
    width: 25px;
}

.tag
{
    width: 90px;
}

.description
{
    width: 250px;
}

.type
{
    width: 120px;
}

.semantic
{
    width: 120px;
}

.nl
{
    display: block;
    height 8px;
}